@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--col-primary: #1e1e1e;
}

body {
	height: 100svh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "JetBrains Mono", serif;
}

.editor {
	width: 80%;
	height: 90%;
	background-color: var(--col-primary);
	border-radius: 1rem;
	color: white;
	outline: none;
	overflow: scroll;
	counter-reset: line;
}

.editor div {
	position: relative;
	display: block;
	white-space: pre-wrap;
}

.editor div::before {
	content: counter(line);   /* insert a div with the value of the counter */
  counter-increment: line;  /* increment the counter */
	padding: 1rem;
}
