@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--col-primary: #1e1e1e;
}

body {
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "JetBrains Mono", serif;
}

.editor {
	width: 80%;
	height: 90%;
	background-color: var(--col-primary);
	border-radius: 1rem;
	color: white;
	padding: 1.5rem;
	outline: none;
	overflow: scroll;
}

.editor div {
	white-space: pre-wrap;
}
